doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Infra India Mart - Leading Cement Supplier in Pan India
        link(rel="stylesheet", href="/css/steel.css")
        link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/site.webmanifest')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        meta(name="robots" content="index, follow")
        script(type="application/ld+json").
          {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Infra India Mart",
            "url": "https://infraindiamart.com",
            "logo": "https://infraindiamart.com/logo-2.png",
            "sameAs": [
              "https://in.linkedin.com/in/infra-india-mart-9a3191308"
            ]
          }
    body 
        section#welcome_section
                .banner
                    .slider
                        img(src="/images/page-title-bg.jpg", alt="image1")
                    .overlay 
                        .navbar 
                            .logo 
                                img.fade-in(src="/images/logo-2.png", alt="logo")
                            .ham 
                                ul#menu
                                    li.underline1 
                                        a.menuItem(href="/home") Home
                                    li.underline1 
                                        a.menuItem(href="/home/about") About
                                    li.underline1 
                                        a.menuItem(href="/home/cement") Cement
                                    li.underline1 
                                        a.menuItem(href="/home/steel") Steel
                                    li.underline1.active1 
                                        a.menuItem(href="/home/inframart") Infra Mart
                                    li.underline1 
                                        a.menuItem(href="/home/contact") Contact Us
                                button.hamburger
                                    i.menuIcon.material-icons menu
                                    i.closeIcon.material-icons close
                            .menu 
                                ul.list.fade-in 
                                    li.underline 
                                        a(href="/home") Home 
                                    li.underline
                                        a(href="/home/about") About Us
                                    li.underline
                                        a(href="/home/cement") Cement
                                    li.underline
                                        a(href="/home/steel") Steel
                                    li.underline.active 
                                        a(href="/home/inframart") Infra Mart
                                    li.underline
                                        a(href="/home/contact") Contact Us
                        .welcome_message.fade-in 
                                h1.heading Infra Mart
                                p 
                                    span.orange_text Home 
                                    | / Market
        section.construction 
            img(src="/images/temp.png", alt="Coming Soon!")
        script             
            include ../js/navbar2.js            
            include ../js/scroll.js   
            include ../js/ham.js   
