*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.orange_text {
    color: orange;
}
.purple_text{
    color: var(--maroon);
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*::-webkit-scrollbar {
    display: none;
}
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    /* For vertical fade-in */
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
:root{
    --maroon: #a30000;
    --default-color: #3498db;
    --nav: #e9e9e9db;
}


/* home page slider */
.banner {
    width: 100%;
    height: 10vh;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
}

.slider img {
    object-fit: cover;
    height: inherit;
    width: 100%;
}

.overlay {
    width: 100%;
    height: 10vh;
    background: linear-gradient(rgb(69 69 69 / 80%), rgb(69 69 69 / 80%));
    position: absolute;
    top: 0;
}

.logo {
    height: 3rem;
    margin: 1rem;
    width: fit-content;
}

.logo img {
    height: 100%;
}

.navbar {
    z-index: 4;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
}

.navbar.scrolled {
    background: linear-gradient(rgba(225, 225, 225, 0.85), rgba(224, 224, 224, 0.85));
}

/* .list li:hover a {
    color: white;
} */
.list {
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.list li a {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
}

li.active a {
    color: white;
}

.list li {
    list-style-type: none;
    margin-left: .6rem;
    margin-right: .6rem;

}

.underline {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: orange;
    transition: width 0.5s ease-in-out;
}

.active::after {
    width: 100%;
}

.underline:hover::after {
    width: 100%;
}

.welcome_message {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    position: relative;
    top: 45%;
    margin: auto;
}

.welcome_message p {
    text-align: center;
    color: white;
}

.orange_text {
    color: orange;
}

.heading {
    text-align: center;
    font-size: 35px;
    color: white;
}


#home {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h1 {
    font-size: 25px;
}

#home p {
    font-size: 18px;
}

.slider1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides1 {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides1 input {
    display: none;
}

.slide1 {
    background: #d9d9d96b;
    width: 20%;
    transition: 2s;
    display: flex;
    justify-content: center;
}

.slide1 img {
    width: 90%;
    object-fit: fill;
    height: 80vh;
}

.navigation-manual1 {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: none;
    justify-content: center;
}

.manualbtn {
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manualbtn:not(:last-child) {
    margin-right: 40px;
}

.manualbtn:hover {
    background: aquamarine;
}

#R1:checked~.first1 {
    margin-left: 0;
}

#R2:checked~.first1 {
    margin-left: -20%;
}

#R3:checked~.first1 {
    margin-left: -40%;
}

#R4:checked~.first1 {
    margin-left: -60%;
}

#R5:checked~.first1 {
    margin-left: -80%;
}


.navigation-auto1 {
    position: absolute;
    display: none;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto1 div {
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto1 div:not(:last-child) {
    margin-right: 40px;
}

#R1:checked~.navigation-auto1 .autobtn1 {
    background: aquamarine;
}

#R2:checked~.navigation-auto1 .autobtn2 {
    background: aquamarine;
}

#R3:checked~.navigation-auto1 .autobtn3 {
    background: aquamarine;
}

#R4:checked~.navigation-auto1 .autobtn4 {
    background: aquamarine;
}

#R5:checked~.navigation-auto1 .autobtn5 {
    background: aquamarine;
}



/*Support Section*/

#support{
    background-color: color-mix(in srgb, var(--default-color), transparent 95%);
    height: fit-content;
    margin-bottom: 4%;
}
.container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.image{
    width: 50%;
    display: flex;
}
.image img{
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--default-color), transparent 90%);
    border-radius: 15px;
    width: 90%;
    margin-left: 10%;
    object-fit: cover;
}
.support{
    width: 50%;
}
.support h1{
    margin: 2rem;
    font-size: 30px;
    color: gray;
}
.support p{
    margin: 2rem;
    width: 70%;
}
.icon img{
    height: 40px;
    object-fit: cover;
}
.inner_box{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.icon{
    margin-right: 1.5rem;
    margin-left: 2rem;
}
.statement{
    font-size: x-large;
    color: rgba(0, 0, 0, 0.659);
    font-weight: bold;
    width: 85%;
    text-align: left;
    display: flex;
    align-items: center;
}


/*Vision and mission section*/
#vision_mission{
    height: fit-content;
    margin-bottom: 5%;
    width: 100vw;
}
.vis_mis{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vis_mis img{
    width: 35%;
}
.vis_mis h1{
    font-size: 30px;
    margin: 2rem;
    color: gray;
}

/*Accomplishments*/
#accomplishments{
    background-color: color-mix(in srgb, var(--default-color), transparent 95%);
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
}
.symbol img{
    height: 150px;
}
#accomplishments h1{
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: 3rem;
    color: gray;
}
.accomplishment1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.envelop{
    background: white;
    box-shadow: 0px 0px 20px color-mix(in srgb, var(--default-color), transparent 90%);
    border: 1px solid rgba(199, 199, 199, 0);;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    display: flex;
}
.symbol{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
}
.numbers{
    margin: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.amount{
    font-size: 30px;
    color: rgb(73, 73, 73);
}

.banner1 {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.overlay1 {
    width: 100%;
    background: linear-gradient(rgb(69 69 69 / 80%), rgb(69 69 69 / 80%));
    position: absolute;
    top: 0;
}

.slider12 img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.data {
    margin: auto;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftbox {
    margin: 1.5rem;
    /* width: 30%; */
}

.leftbox h1 {
    width: fit-content;
    font-weight: 900;
    color: #770000;
    /* margin: 1rem;
    margin-bottom: 3rem; */
}

.leftbox p {
    width: 45%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.combine {
    width: fit-content;
    text-align: center;
}

.rightbox {
    margin: 1.5rem;
    width: 30%;
}

.rightbox p {
    margin: 1rem;
}

.rightbox ul {
    margin: 1rem;
}

.rightbox ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.rightbox ul li a:hover {
    color: rgba(255, 179, 37, 0.708);
}

.rightbox ul li {
    list-style-type: none;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.copyright {
    margin: auto;
    color: white;
    text-align: center;
    width: 80%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.p1 {
    margin: 1.5rem;
    word-spacing: .5rem;
}

.p2 {
    margin: 1.5rem;
}

/* logo-slider */
#partners{
    text-align: center;
    height: fit-content;
    background-color: color-mix(in srgb, var(--default-color), transparent 95%);
}
#partners h1{
    font-size: 30px;
    padding: 3rem;
    padding-top: 4.5rem;
    color: gray;
}
.logos{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}
.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos::before{
    left: 0;
    background: linear-gradient(to left,rgba(225, 225, 225, 0),#fcfcfc);
}
.logos::before,.logos::after{
    position: absolute;
    width: 30rem;
    height: 125px;
    content: "";
    z-index: 3;
}
.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(225, 225, 225, 0), #fcfcfc);    
}
.logos-slide{
    display: inline-block;
    animation: slide infinite linear 20s;
}
.logos-slide img{
    height: 120px;
    object-fit: contain;
    margin: 0 40px;
}
@keyframes slide {
    form{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.menuItem {
    display: block;
    margin: 1rem;
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: white solid 1px;
    background: orange;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

#menu {
    position: fixed;
    transform: translateY(-100%);
    height: fit-content;
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    backdrop-filter: blur(30px);
    color: black;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.showMenu {
    transform: translateY(0);
    top: 50%;
}

.underline1 {
    width: 65%;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.underline1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: orange;
    transition: width 0.5s ease-in-out;
}

li.active1 a {
    color: orange;
}

.active1::after {
    width: 100%;
}

.underline1:hover::after {
    width: 100%;
}



@media screen and (max-width: 500px) {
    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .slide1 img {
        height: 35vh;
    }
    .support {
        width: 80%;
        text-align: center;
    }    
    .image {
        display: none;
    }
    .support p {
        width: auto;
    }
    .accomplishment1 {
        flex-direction: column;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .envelop {
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #partners h1{
        padding-top: 0;
        padding: 1rem;
    }
    .logos::before,
    .logos::after {
        width: 3rem;
    }
    .logos{
        padding: 20px 0;
    }
    .data{
        flex-direction: column;
    }
    .leftbox p{
        width: auto;
    }
    .rightbox{
        display: none;
    }
    .vis_mis img{
        width: 80%;
    }

}
@media screen and (max-width: 700px) and (min-width: 501px) {
    .container {
        flex-direction: column-reverse;
    }
    .support {
        width: 80%;
        text-align: center;
    }
    .image{
        width: 80%;
    }
    .support p {
        width: 100%;
    }
    .accomplishment1{
        flex-direction: column;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .envelop{
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .logos::before,.logos::after{
        width: 10rem;
    }
    .vis_mis img{
        width: 75%;
    }
}


@media screen and (max-width: 600px) and (min-width: 501px) {
    .slide1 img {
        height: 40vh;
    }
    .vis_mis img{
        width: 75%;
    }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
    .slide1 img {
        height: 45vh;
    }
    .vis_mis img{
        width: 70%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 801px) {
    .slide1 img {
        height: 50vh;
    }
    .vis_mis img{
        width: 65%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
    .slide1 img {
        height: 55vh;
    }
    .vis_mis img{
        width: 60%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
    .slide1 img {
        height: 65vh;
    }
    .vis_mis img{
        width: 55%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .slide1 img {
        height: 75vh;
    }
    .vis_mis img{
        width: 50%;
    }
}
@media screen and (max-width: 16001px) and (min-width:1601px){
    .vis_mis img{
        width: 35%;
    }
}
@media screen and (max-width: 1000px) {
    .ham{
        display: block;
    }
    .menu{
        display: none;
    }
}
@media screen and (max-width: 85000px) and (min-width:1001px) {
    .ham{
        display: none;
    }
    .menu{
        display: block;
    }
}